.Auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.Auth_innerContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Auth_heading {
  margin-bottom: 20px;
  font-size: 24px;
}

.Auth_formGroup {
  margin-bottom: 15px;
  text-align: left;
}

.Auth_label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.Auth_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Auth_button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.Auth_button:hover {
  background-color: #0056b3;
}

.Auth_signupPrompt {
  margin-top: 15px;
  font-size: 14px;
}

.Auth_signupLink {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.Auth_googleButton {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.glogo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
